.mat-mdc-table {
  border-spacing: 0 16px;
  table-layout: fixed;
  width: 100%;
}

.mat-mdc-row {
  height: 80px;
  background: #d2d8c0;
  cursor: pointer;
  transition:
    box-shadow 0.2s ease,
    transform 0.2s ease;
}

.mat-mdc-row:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}
